{
    "installed": {
        "client_id": "105438254009-7f8pf7tgu8fso28nna8bb6m0io1fa1fh.apps.googleusercontent.com",
        "project_id": "okdevemailer-1540102363500",
        "auth_uri": "https://accounts.google.com/o/oauth2/auth",
        "token_uri": "https://www.googleapis.com/oauth2/v3/token",
        "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
        "client_secret": "xxxxxxxxxxxxxxxxxxxxxxxx",
        "redirect_uris": [
            "urn:ietf:wg:oauth:2.0:oob",
            "http://localhost"
        ]
    }
}