<%- include('header', {title: 'My Page'}) %>
</head>
<body>
    <h1>my page</h1>
    <%= user %>
    <form action="">
        <div><input type="text"></div>
        <div><input type="text"></div>
        <div><input type="text"></div>
    </form>
    <hr>
    <button>수정</button>
</body>
</html>