<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>장애 안내</title>
</head>
<body>
  <%= message %>
  <hr />
  <a href="/">OKdevTV</a> |
  <a href="/user/signin">로그인</a> |
  <a href="" onclick="history.back();">뒤로가기</a>
</body>
</html>