<%- include('header', {title: 'OKdevTV 비밀번호 변경하기'}) %>
<script>
    $(function () {
        $('#form_reset').on('submit', function (e) {
            $.post('/user/reset_password',
                { email: $('#email').val() })
                .done(function (res) {
                    if (res.status === 'ok') {
                        $('#msg')
                            .html('<p>비밀번호 변경 안내 메일이 발송되었습니다.</p><p>감사합니다.</p>');
                    } else {
                        $('#msg')
                            .html('장애가 발생했습니다. ' + JSON.stringify(res));
                    }
                })
                .fail(function (e) {
                    $('#msg')
                        .html('장애가 발생했습니다. ' + JSON.stringify(e));
                });
            e.preventDefault();
        });
    });
</script>
</head>

<body>
    <form id="form_reset">
        <div>
            <input type="email" required id="email" value="<%= email %>" placeholder="email을 입력하세요.">
        </div>
        <div>
            <button>비밀번호 변경하기</button>
        </div>
        <div id="msg"></div>
    </form>
    <a href="/user/signup">회원가입</a> |
    <a href="/user/login">로그인</a> |
</body>

</html>