<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>비밀번호 설정</title>
    <script src="/js/jquery.min.js"></script>
    <script>
        $(function () {
            $('#form_pw').on('submit', function (e) {
                e.preventDefault();
                // validation
                const password = $('#password').val();
                const password_confirm = $('#password_confirm').val();
                if (password.length < 8) {
                    $('#msg').html('비밀번호는 8자리 이상으로 해주세요.');
                    return;
                }
                if (password !== password_confirm) {
                    $('#msg').html('입력하신 두 비밀번호가 다릅니다.');
                    return;
                }
                $.post('/user/setup',
                    {
                        password,
                        password_confirm,
                        hash: $('#hash').val()
                    })
                    .done(function (res) {
                        console.log(res.reset === 'Y');
                        if (res.status === 'ok') {
                            let msg = '회원가입이 완료되었습니다.';
                            if (res.reset === 'Y') {
                                msg = '비밀번호 변경이 완료되었습니다.';
                            }
                            $('#msg').html(msg);
                        }
                    })
                    .fail(function (e) { console.log(e); });
            });
        });
    </script>
</head>

<body>
    <form id="form_pw">
        <div>
            <input type="password" required id="password" minlength="8" placeholder="8자 이상의 비밀번호를 입력하세요.">
        </div>
        <div>
            <input type="password" required id="password_confirm" placeholder="위와 동일한 비밀번호를 입력하세요.">
        </div>
        <div>
            <button id="set_password">비밀번호 설정</button>
        </div>
        <input type="hidden" required id="hash" value="<%= hash %>">
        <div id="msg"></div>
    </form>
    <a href="/">OKdevTV</a> |
    <a href="/user/login">로그인</a>
</body>

</html>