table {
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ddd;
    padding: 4px;
}
pre {
    border: 1px solid #888;
    padding: 6px 12px;
    border-radius: 5px;
    background-color: #eefefe;
    width: 92%;
}

.img {
    width: 50%;
    max-width: 600px;
}
