#wrap {
    min-width: 576px;
    width: 80%;
    margin: auto;
    padding: 0 12px;
    border: 1px solid #99e;
    border-radius: 18px;
}

table {
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ddd;
    padding: 4px;
}
pre {
    border: 1px solid #888;
    padding: 6px 12px;
    border-radius: 5px;
    background-color: #eefefe;
    width: 97%;
    font-size: 1.3em;
    overflow-x: scroll;
}

p code, li code {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0 3px;
    background-color: aliceblue;
}

.img {
    width: 50%;
    max-width: 600px;
}

#whatelse {
    text-align: center;
    margin: 20px 0;
}