@media screen and (max-width: 570px) {
    #lecture {
        width: 100%;
    }
}
@media screen and (min-width: 570px) {
    #lecture {
        width: 800px;
    }
}
@media screen and (max-width: 800px) {
    #lecture {
        width: 100%;
    }
}
#lecture {
    padding: 5%;
    margin: auto;
}
li img {
    width: 100%;
    display: block;
    border: 1px solid #ddd;
}
#lecture h1 {
    font-size: 3.0em;
    line-height: 1.0em;
    text-align: center;
}
#lecture h2,
#lecture h3 {
    background-color: #eef;
    padding: 3px 8px;
    border-radius: 5px;
    margin-top: 4px;
}
#lecture h2 {
    background-color: #ddf;
    font-size: 2.0em;
    font-weight: bold;
}

#lecture h3 {
    font-size: 1.5em;
}
#lecture ul,
#lecture dl {
    padding-left: 20px;
    margin-top: 6px;
}
#lecture dt {
    font-weight: bold;
}
#lecture dd {
    padding-left: 1.0em;
}

code {
    font-family: monospace;
    background-color: #eeeeee;
    padding: 0 8px;
}